doctype html
html
  block head
    title= title
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
    script(type='text/javascript', src='/js/sketch.min.js')
    script(type='text/javascript', src='/js/draw.js')  
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#banner
      h1 Simple white board
    block content
    footer enjoy your luck